# --- Credencials Woffu ---
WOFFU_USER=example@mail.com
WOFFU_PASS=your_password
CORP=your_corp_subdomain
# Nota: Si la teva web és "banasa44jr.woffu.com", el CORP és "banasa44jr"
# --- Configuració Horària ---
CHECKIN=09:00
CHECKOUT=18:00
WORKINGDAYIDS=5
TZ=Europe/Madrid
# --- Telegram ---
# Demana-li al @BotFather
BOT_TOKEN=your_telegram_bot_token
TELEGRAM_CHAT_ID=your_chat_id
